/* Custom styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #392f52; /* Royal purple color */
    color: #ffffff; /* White text color */
}

header {
    background-color: #333;
    color: #fff;
    padding: 0px;
    text-align: center;
    position: fixed; /* Fixes the header to the top */
    top: 0;
    left: 0;
    width: 100%; /* Ensures it spans the full width */
    z-index: 1000; /* Ensures it stays on top of other elements */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

section {
    padding: 80px 20px 20px; /* Adds padding to prevent overlap with the fixed header */
}

section h2 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute content evenly */
}

.bio {
    margin-left: 5cm; /* Adjust the margin to move the text */
    flex: 1; /* Ensures the bio section occupies equal space */
}

.image-container {
    text-align: center;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 10px; /* Square with slightly rounded corners */
    margin-left: 35px;
}

/* Project Section Styling */
.project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    color: #333;
}

.project p {
    color: #666;
}

/* Education Section Styling */
#education {
    padding: 20px;
}

.education-item {
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.education-content {
    padding: 20px;
}

.education-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}

.education-content p {
    margin: 0;
    color: #666;
}

.education-content p strong {
    color: #000;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column; /* Stacks image and bio on small screens */
        align-items: center;
    }

    .profile-picture {
        margin-bottom: 20px;
    }

    .bio {
        margin-left: 0; /* Reset margin for smaller screens */
        text-align: center; /* Center the text */
    }
}
